{% extends "layouts/layout_default.jinja2" %}

{% block title %}
    Settings
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/sidenav.jinja2" %}
    <script></script>
{% endblock sidenav %}

{% block content %}
    <section class="w-full h-full bg-purple-400">
        <p>CONFIGURE PROVIDERS!</p>
    </section>
{% endblock content %}

{% block footer %}
    <aside class="w-full h-full">
        CONFIGURE PROVIDERS FOOTER!
    </aside>
{% endblock footer %}