{% extends "layouts/layout_default.jinja2" %}

{% block title %}
    History | E-mails App
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/sidenav.jinja2" %}
    <script></script>
{% endblock sidenav %}

{% block content %}
    <section class="w-full h-full bg-purple-400">
        <p>EMAILS HISTORY!</p>
    </section>
    <script>

   </script>
{% endblock content %}

{% block footer %}
    <aside class="w-full h-full">
        EMAILS HISTORY FOOTER!
    </aside>
    <script>

   </script>
{% endblock footer %}