{% extends "base.jinja2" %}

{% block title %}

{% endblock title %}

{% block content %}
    <section>
        <p>Hello, World!</p>
    </section>
{% endblock content %}

{% block footer %}

{% endblock footer %}